.card {
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	border-radius: 10px;
	position: relative;
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.card::after,
.card::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: conic-gradient(
		from var(--angle),
		#1a202c,
		#2d3748,
		#253050,
		#1f2937,
		#1a202c
	);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	padding: 4px;
	border-radius: 10px;
	animation: 0.75s spin linear infinite;
}

@keyframes spin {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

.cm-editor.cm-focused {
	outline: none;
}

.cm-editor{
	border-radius: 10px;
	height: 100%;
}
.cm-editor .cm-content {
	font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5;
}